<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
  <arg name="ignore" value="*node_modules/*,*vendor/*,*/dist/*"/>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,info,txt,md,yml"/>
  <rule ref="Drupal" />
  <rule ref="DrupalPractice"/>
  <arg value="s"/>
  <arg value="-colors"/>
  <arg name='report-width' value='120'/>
</ruleset>
